body {
    margin: 5rem;
}

#logo {
    float: left;
}

#liens {
    float: right;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
}

.skills {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.projet-image {
    display: inline-block;
}

#contact {
    text-align: center;
}

hr {
    width: 50%;
}